body{
    background-color:yellow;
}

h1{
    color:grey;
    background-color: antiquewhite;
}
#show_sketch
{
    float:right;
}

canvas{
    border:7px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 6s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 3px 3px 38px rgb(44, 11, 211)};
    
    to{box-shadow: 3px 3px 38px rgb(169, 3, 3);}
}
p
{
    padding-top:10px;
    font-size:25px;
}